Django==5.2.6
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.8.0
python-dotenv==1.1.1
djangorestframework-simplejwt==5.5.1
# Production server + static files
# (Elastic Beanstalk usa gunicorn en producción)
gunicorn==23.0.0
whitenoise==6.11.0

# PostgreSQL driver (psycopg3, evita problemas de wheels en Python nuevos)
psycopg[binary]==3.2.10

# Exportación (Reportes)
openpyxl==3.1.5

# HTTP requests (OpenWeatherMap API)
requests==2.32.3
